<footer class="footer" id="footer">
  <div class="footer-content">
    <div class="footer-top">
      <div class="footer-links">
        <a (click)="openTerms()">{{ translationService.t('footer.terms') }}</a>
        <a (click)="openPrivacy()">{{ translationService.t('footer.privacy') }}</a>
      </div>
      
      <div class="footer-social">
        <a href="https://www.instagram.com/madame__pearls/?utm_source=ig_web_button_share_sheet" target="_blank">
          <img src="assets/images/icons/instagram.webp" alt="Instagram" />
        </a>
        <a href="https://www.facebook.com/silvergoldpartner?mibextid=wwXIfr&rdid=McatLvVS9kRVMs40&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F19h6Tzb3sT%2F%3Fmibextid%3DwwXIfr#" target="_blank" rel="noopener">
          <img src="assets/images/icons/facebook_logo.webp" alt="Facebook" />
        </a>
      </div>
    </div>
    
    <div class="footer-divider"></div>
    
    <div class="footer-bottom">
      <div class="footer-logo">
        <img src="assets/images/logo/logo.webp" alt="Madame Pearls" (click)="scrollToHome()" />
      </div>
      <div class="footer-text">
        <p class="footer-copyright">{{ translationService.t('footer.copyright') }}</p>
        <p class="footer-watermark">{{ translationService.t('footer.watermark') }}</p>
      </div>
    </div>
  </div>
</footer>
